@{
    ViewBag.Title = "About Lauren Martin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Lauren Martin. I am 22 years old from Marietta, Ohio. I have a little (not so little) sister named Taylor, and brother named Joshua. I also have a dog named Addie, but sometimes we call her Bubbas. During my first year of college, I attended the University of Cincinnati. I would come to Ohio Univeristy to visit friends and felt like Ohio University was more of a fit for me, so I transferd my second year. I love how this campus is so friendly and green. I am now a fourth year student graduating in December and I am so sad to leave this beautiful place. Athens is truly the happiest place on Earth.</p>
