@{
    ViewBag.Title = "Contact Lauren Martin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    101 Del Ray Court<br />
    Marietta, OH 45750<br />
    <abbr title="Phone">P:</abbr>
    740.350.8139
</address>

<address>
    <Email>Email:</Email>   <a href="mailto:lm739314@ohio.edu">lm739314@ohio.edu</a><br />
</address>