@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200 Demo</h2>
    <p> Lauren Martin's MIS4200 Demo</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Intro</h2>
        <p>
            I am a fourth year student majoring in Accounting, MIS, and Business Pre-Law. I am seeking full-time employment where I can utilize my three majors. Please see my LinkedIn for additional information.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/laurenrmartin/">Lauren's LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>During my free time, I enjoy watching movies at the Fun Barn. I enjoy going a little early so I am able to play some arcade games before I watch a $4.00 movie. They are located in Nelsonville, Ohio. Click on the link to see some available showtimes.</p>
        <p><a class="btn btn-default" href="http://www.moviesten.com/content/The+Fun+Barn">FunBarn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Elton John</h2>
        <p>My favorite human of all time is Sir Elton John. He is an icon that has changed the world for the better. I attended the Farewell Yellow Brick Road Tour and my life was changed forever. Go check him out!</p>
        <p><a class="btn btn-default" href="https://www.eltonjohn.com/">Sir Elton John &raquo;</a></p>
    </div>
</div>